<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>formulário</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="conteudo">
      <h2>login</h2>
       <hr>
      <div class="bloco-interno">
       <form>
        <label>E-mail:</label>
        <input type="email" name="email" placeholder="Informe seu E-mail" onchange="this.value = this.value.toUpperCase()">
        <label>Senha:</label>
        <input type="password" name="senha" placeholder="Informe sua senha">
        <input type="submit" name="logar" value="Acessar" id="acessar">
        <a href="cadastro.html">não possui conta? cadastre-se</a>
       </form>
     </div>
    </div>
  </body>
</html>
